body {
    background-color: rgb(36, 36, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background-image: url("src/images/bg.jpg");
    background-size: 100%;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 6px;
    background-color: rgba(66, 66, 66, 0.582);
    color: white;
    padding-left: 15px;
    font-size: 18px;
    backdrop-filter: blur(40px);
    transition-duration: 0.2s;
}

input:focus {
    border: 2px solid rgb(135, 206, 250);
    transition-duration: 0.2s;
    width: 51%;
    height: 55px;
    background-color: rgba(66, 66, 66, 0.404);
}

input:not(:focus) {
    transition-duration: 0.2s;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 50%;
    height: 50px;
}

input:hover {
    background-color: rgba(66, 66, 66, 0.404);
}

#top {
    text-align: center;
}

#middle {
    text-align: center;
}

#logo {
    background-image: url("images/mcd-pfp.jpg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 12px;
    margin-top: 70px;
    margin-bottom: 10px;
    position: sticky;
    left: 50%;
    top: 110px;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
}

#logo:hover {
    width: 105px;
    height: 105px;
    transition-duration: 0.2s;
}

#name-parent h1 {
    color: white;
    user-select: none;
}

.hidden {
    display: none;
}

#popup-box {
    width: 50%;
    height: 280px;
    background-color: rgb(10, 10, 10);
    text-align: left;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

#popup-box button {
    position: fixed;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgb(60, 60, 60);
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 0px solid rgb(40, 40, 40);
    border-radius: 50px;
    transition-duration: 0.2s;
}

#popup-box button:hover {
    background-color: rgb(80, 80, 80);
    transition-duration: 0.2s;
}

#popup-box-text {
    color: white;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
}

#shortcuts {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#shortcuts div {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    float: left;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.2s;
    text-align: center;
}

#shortcuts div:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
}

#shortcuts div span {
    position: absolute;
    top: 50px;
    padding-left: 30px;
}

#menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    transition-duration: 0.2s;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    transition: background-color 200ms linear;
}

#menu:hover {
    background-color: rgba(58, 58, 58, 0.705);
    transition-duration: 0.2s;
    transition: background-color 200ms linear;
}

.menu-dot-parent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -50%);

}

.menu-dot {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 3px;
}

#menu-list {
    background-color: rgba(53, 53, 53, 0.719);
    width: 190px;
    height: 173px;
    border-radius: 6px;
    font-size: 16px;
    position: absolute;
    top: 70px;
    right: 10px;
    display: none;
    backdrop-filter: blur(40px);
}

#menu-list div span {
    color: white;
    transition-duration: 0.2s;
    border-radius: 4px;
    cursor: default;

    /* padding-left: 10px;
    margin-left: 10px;
    
    padding-right: 10px;
    margin-right: 10px;
    
    padding-top: 5px;
    margin-top: 5px; */

   /*  width: 170px;
    height: 20px;

    margin-left: 10px;
    padding-left: 10px; */

    padding-left: 30px;
    vertical-align: middle;
    line-height: 25px;

    
}

#menu-list div {
    width: 180px;
    border-radius: 4px;
    transition-duration: 0.2s;
    margin-top: 2px;
    margin-left: 5px;
}

#menu-list div:hover {
    background-color: rgba(94, 94, 94, 0.705);
    transition-duration: 0.2s;
}

#menu-list .hr {
    margin-left: 5px;
    width: 180px;
    background-color: gray;
    border: none;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#changeBg {
    background-image: url("images/pen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition-duration: 0.2s;
    border-radius: 6px;
}

#changeBg:hover {
    background-color: rgba(53, 53, 53, 0.705);
    transition-duration: 0.2s;
}

::placeholder {
    user-select: none;
    color: rgb(189, 189, 189);
}

#bgeditor {
    position: absolute;
    width: 800px;
    height: 370px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(61, 61, 61, 0.582);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    transition-duration: 0.2s;
    display: none;
}

.closebtn {
    background-image: url("images/x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    color: rgb(209, 209, 209);
    font-size: 20px;
    width: 40px;
    height: 30px;
    cursor: default;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition-duration: 0.2s;
}

.closebtn:hover {
    background-color: rgba(94, 94, 94, 0.582);
    transition-duration: 0.2s;
}

#bgeditor .buttons {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    user-select: none;
}

.bge-upload {
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    display: inline-block;
    padding: 6px 12px;
    transition-duration: 0.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: default;
}

.bge-upload:hover {
    transition-duration: 0.2s;
    background-color: rgba(99, 99, 99, 0.267);      
}

#setbg {
    border: none;
    color: white;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    display: inline-block;
    padding: 6px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.2s;
    font-size: 18px;
    cursor: default;
}

#setbg:hover {
    transition-duration: 0.2s;
    background-color: rgba(99, 99, 99, 0.267);
}

#bgeditor input {
    background-color: rgba(71, 71, 71, 0.582);
    border-radius: 6px;
    border: 1px solid rgba(61, 61, 61, 0.582);
    outline: none;
    width: 300px;
    height: 40px;
    font-size: 17px;
    color: rgb(209, 209, 209);
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    backdrop-filter: blur(40px);
}

#bgeditor input:not(:focus) {
    transition-duration: 0.2s;
    background-color: rgba(206, 206, 206, 0.26);
}

#bgeditor input:focus {
    transition-duration: 0.2s;
    background-color: rgb(71, 71, 71);
    border-bottom: 1px solid lightskyblue;
}

#bgpreview {
    width: 250px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}